# pandas选择数据

In [1]:
import pandas as pd
import numpy as np

In [2]:
dates = pd.date_range('20220607',periods=6)
df = pd.DataFrame(np.arange(24).reshape(6,4),index=dates,columns=['A','B','C','D'])
df

             A   B   C   D
2022-06-07   0   1   2   3
2022-06-08   4   5   6   7
2022-06-09   8   9  10  11
2022-06-10  12  13  14  15
2022-06-11  16  17  18  19
2022-06-12  20  21  22  23

## 选择DataFrame的指定行列

In [3]:
print(df['A'])
print(df.A)

2022-06-07     0
2022-06-08     4
2022-06-09     8
2022-06-10    12
2022-06-11    16
2022-06-12    20
Freq: D, Name: A, dtype: int32
2022-06-07     0
2022-06-08     4
2022-06-09     8
2022-06-10    12
2022-06-11    16
2022-06-12    20
Freq: D, Name: A, dtype: int32

也可以用切片的形式选择某一行

In [4]:
print(df[0:3])
print(df['20220607':'20220609'])

            A  B   C   D
2022-06-07  0  1   2   3
2022-06-08  4  5   6   7
2022-06-09  8  9  10  11
            A  B   C   D
2022-06-07  0  1   2   3
2022-06-08  4  5   6   7
2022-06-09  8  9  10  11

## 由标签选取数据(select by label:loc)

由行索引(index)选择某行

In [5]:
print(df.loc['20220607'])

A    0
B    1
C    2
D    3
Name: 2022-06-07 00:00:00, dtype: int32

由列索引(columns)选择某几列

In [6]:
print(df.loc[:,['A','B']])

             A   B
2022-06-07   0   1
2022-06-08   4   5
2022-06-09   8   9
2022-06-10  12  13
2022-06-11  16  17
2022-06-12  20  21

In [7]:
print(df.loc['20220610',['A','B']])

A    12
B    13
Name: 2022-06-10 00:00:00, dtype: int32

## 由位置选择行列(select by position:iloc)

In [8]:
print(df.iloc[3])

A    12
B    13
C    14
D    15
Name: 2022-06-10 00:00:00, dtype: int32

In [9]:
print(df.iloc[3,1]) #选择某个数据
print(df.iloc[3:5,1:3]) #使用切片选择连续的一部分数据
print(df.iloc[[1,3,5],1:3]) #选择不连续的数据

13
             B   C
2022-06-10  13  14
2022-06-11  17  18
             B   C
2022-06-08   5   6
2022-06-10  13  14
2022-06-12  21  22

## Boolean indexing(是或否的筛选)

In [10]:
df

             A   B   C   D
2022-06-07   0   1   2   3
2022-06-08   4   5   6   7
2022-06-09   8   9  10  11
2022-06-10  12  13  14  15
2022-06-11  16  17  18  19
2022-06-12  20  21  22  23

In [11]:
print(df[df.A>8]) #筛选DataFrame中A列大于8的行
print(df[df.B<13])

             A   B   C   D
2022-06-10  12  13  14  15
2022-06-11  16  17  18  19
2022-06-12  20  21  22  23
            A  B   C   D
2022-06-07  0  1   2   3
2022-06-08  4  5   6   7
2022-06-09  8  9  10  11